<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UseProxy>false</UseProxy>
  <ProxyAddress />
  <ProxyPort>0</ProxyPort>
  <CredentialsScope>ТекущийПользователь</CredentialsScope>
  <SrzAddress>http://10.10.10.1/</SrzAddress>
  <SrzThreadsLimit>10</SrzThreadsLimit>
  <SrzRequestsLimit>1000</SrzRequestsLimit>
  <SrzCredentials>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAABspNffmRgUCTsAS0mmegQ7GVIGwcWDSOyaJKPpVh+HcwAAAAAOgAAAAAIAACAAAADsOe7ZUhn5fEXtSg682+ttN7zo5h4Z15VQz6NG8uHToBAAAACNvNvy3GPngEQPqz+CEjS0QAAAAJ+bM3JUDx5z4AAwafEryGyU3GcC35GO9LRr63yabevq2+rGnIQY9fitF5nrhsa8NvNmV4sKaTF8KwEjqe9qCdQ=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAAAnhEd0QCP/xKM7qRlOfR8YZckDPM87JLReVSbERdqHzwAAAAAOgAAAAAIAACAAAACAMHFXVoDbTD1GvkmVwC7n9WvqBGh2ns1Uuuii5x8EcRAAAADQFcwgrLBSmYV40dT1UZhTQAAAAGdHLD5Rb4SMFZRsVC5lHugUtEiwaMiQ6z0KWbK/YwSe8hSFU1opbOVTcfQY7c42fXlRBxi3ndACUDAQFPhfTc4=</ProtectedPassword>
    </Credential>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAABKmwpf/njF0zaBv7C7xjiOuWE8xecMPB7IgnuqzLJ7qQAAAAAOgAAAAAIAACAAAABXBh5H/sOtDRmpDRaHq+abCaTmU8lnVXS3Y1fY844OPxAAAADyHlkhEhDjgh89ESAL5ySvQAAAAOp7fBHK+Q0PdyeISqakjoXe8zYlmX0s9dE4HJHzwj6tsIyYgF6mm2XW8nznylq9/rzjQKAqI95a3A1leL0khFU=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAACnqOLtSkSFT/hH65mmPxYM4vvL2CSlhdrlU3EWL3yizQAAAAAOgAAAAAIAACAAAAC3o6g00c3F9XHU1B9El7lJWf0K2pOvU7z9N7KtIEDNHxAAAAC8QwNPVniONP8KzcHKysKQQAAAAKPlTT1ZvRfmNyfmDlfLjCWGGHgSAOiUH8kOjybRmXYmRZ+z4ITb9swrK9NmTVkAQV580PrrswYbDs+fMnJvwT4=</ProtectedPassword>
    </Credential>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAACm1xIaDL5y0+6JdjSssPkFqEhERZXyOMrVIgZPAMVQzQAAAAAOgAAAAAIAACAAAADvQyo8HR/okPxFhUQO0Ikgs+LQZNHvz1XAXkkT23qQ9xAAAAD4KTynWXPCVzh8LjN8ODdBQAAAAOyty/aV6nHR/YAKfNXLHbJm+do9b79l+VtaT/boRM1jmAIZM++uNCHI1gddn/rp4pKM/CV+p6FUzI9yUMKFPUM=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAAB71rXzr036XxXOus1Mu/USPEwSCOvlBR5ClkAyMbSi7AAAAAAOgAAAAAIAACAAAAC+NMqPtauL/gvp0xiiP0HALK3NuZNmAfQMc+kuFA/UCBAAAAD04xcTJzttFPQjU4sTrDrTQAAAACIjX3CoxHdXWAr93Hwt+HeLVlGNI/ytneY51jAB9qbyODv4MOe6be1YzPEF75n21sX/RbLH2hy6L47uEAvt1ME=</ProtectedPassword>
    </Credential>
  </SrzCredentials>
  <DownloadNewPatientsFile>true</DownloadNewPatientsFile>
  <PatientsFilePath>Прикрепленные пациенты выгрузка.xlsx</PatientsFilePath>
  <FormatPatientsFile>true</FormatPatientsFile>
  <ColumnProperties>
    <ColumnProperty>
      <Name>ENP</Name>
      <AltName>Полис</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>FIO</Name>
      <AltName>ФИО</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>Фамилия</Name>
      <AltName>Фамилия</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>Имя</Name>
      <AltName>Имя</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>Отчество</Name>
      <AltName>Отчество</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>SEX</Name>
      <AltName>Пол</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>BIRTHDAY</Name>
      <AltName>Дата рождения</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>SNILS</Name>
      <AltName>СНИЛС</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>OLR_NUM</Name>
      <AltName>Участок</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>TERRITORY</Name>
      <AltName>Регион</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>DISTRICT</Name>
      <AltName>Район</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>CITY</Name>
      <AltName>Город</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>TOWN</Name>
      <AltName>Населенный пункт</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>STREET</Name>
      <AltName>Улица</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>HOUSE</Name>
      <AltName>Дом</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>CORPUS</Name>
      <AltName>Корпус</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>FLAT</Name>
      <AltName>Квартира</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_COMM</Name>
      <AltName>Примечание</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LAR_NAME</Name>
      <AltName>Причина прикрепления</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>DOC_SNILS</Name>
      <AltName>СНИЛС врача</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>SMOCODE</Name>
      <AltName>Код СМО</AltName>
      <Hide>false</Hide>
      <Delete>false</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>KLSTREET</Name>
      <AltName>Код КЛАДР</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>DISTRICTMO</Name>
      <AltName>Участок МИС</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_BDATE</Name>
      <AltName>PC_BDATE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PERSON_ID</Name>
      <AltName>ID Пациента</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_ID</Name>
      <AltName>PC_ID</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>MO_CODE</Name>
      <AltName>MO_CODE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>MO_EDNUM</Name>
      <AltName>MO_EDNUM</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_NUM</Name>
      <AltName>PC_NUM</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_EDATE</Name>
      <AltName>PC_EDATE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LAT_CODE</Name>
      <AltName>LAT_CODE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LAT_NAME</Name>
      <AltName>LAT_NAME</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LAR_CODE</Name>
      <AltName>LAR_CODE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LDR_CODE</Name>
      <AltName>LDR_CODE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>LDR_NAME</Name>
      <AltName>LDR_NAME</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PC_IDATE</Name>
      <AltName>PC_IDATE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
    <ColumnProperty>
      <Name>PRV_TYPE</Name>
      <AltName>PRV_TYPE</AltName>
      <Hide>false</Hide>
      <Delete>true</Delete>
    </ColumnProperty>
  </ColumnProperties>
  <ExaminationsAddress>http://10.10.10.1/</ExaminationsAddress>
  <ExaminationsThreadsLimit>5</ExaminationsThreadsLimit>
  <ExaminationFileNames>DPM, DVM, DOM</ExaminationFileNames>
  <PatientFileNames>LPM, LVM, LOM</PatientFileNames>
  <ExaminationsCredentials>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAADMpPPryFeyF1cFi7Yn7Y1buAwHENNbwy8TU/QILGzeWAAAAAAOgAAAAAIAACAAAACudRzwg2gae1KELjP95Vsu97kk0OzKLV78F9tgfeVWOBAAAAARQSROwSnXrXHLQiqwgF19QAAAABmfo6v7862scZ/P/boJjk09x8Q0FLFQVO+4OUQzZaI/+DLX/1+cahm1SelIbormzvMZMBRFmqLh7iYXZ+Ru/a8=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAABNgcA+8MKkDBti2PpBpQ20BpJANr+MJAP4HfAjBc6MbwAAAAAOgAAAAAIAACAAAADdmnKOGfpCHJhxubibZjL2mdBGZx8yid6GwxPKzVBZWRAAAADseZWxS+YM1wSLEtQoEHEdQAAAAPYu0ZSNBoAmbNYwe52J2laEEqgTcNbUT1Tf7uDrHJhaL+aNMSGaoSwKizJCvvI0WtwJJGQyO/jhC92kENJ464w=</ProtectedPassword>
    </Credential>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAAAWiF3xgajgHyOdrgCPQZ22SlwjHyaCodvBj1JFrFlb0wAAAAAOgAAAAAIAACAAAACaDplQhOJL/qlFuBmD5vlJ9PdzSfHPNxv4JAqvk1TXGhAAAAAwvyTH+z0t2ftw60LucNryQAAAAO0L51XxZCy0VlheZscv0pXy2hBFek2HFt5WuBHRHTBoPzZz4p8F+c/fsXmu5l5FceNKONMl3qbnSBfK4cwpkmY=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAAAy1uqQ5lUACg0QtVmL2GPtnDoZzEvRZZifSghGiQ4P/QAAAAAOgAAAAAIAACAAAADhl9PNOYrKG/1pWQ5TUL0AHwFXv1EpqJSDyeQQjkXynRAAAABb7LIgQLNv1IpnzdLQMyA8QAAAADwPWnzdArL/QTrMSQ2DgyfsuC4WUMQrcco4vXUL/ackeiz38QpiL97pYbLivfmhIIf5bWUvwtAXyOnnrgxH0ow=</ProtectedPassword>
    </Credential>
    <Credential>
      <ProtectedLogin>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAABhYoQoOFKUnYyIpwWGN4fldkVa4hcint0s7Dkr5cmT0wAAAAAOgAAAAAIAACAAAAAbKKrz0nRW/p91kCeu8NIvZ6J6nC7iUGVYn8bk8NzTBhAAAAC+qMsxA3GTrD/wESfgkcB2QAAAACQ38bZ9HQzVj6P94XPk6NHO20CbeNdnbRYmP5Wlao3EqufdqiyUn6zBq6i6S5sNuB35jXnahE7yEHK4lX7hHyM=</ProtectedLogin>
      <ProtectedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7BOrZUCHLk6W7ZYkmCt49AAAAAACAAAAAAAQZgAAAAEAACAAAAD+9hvj/+aDP281Pf8JIzMPQ+0Ww/LPz9MHbMxlHyKhHgAAAAAOgAAAAAIAACAAAACNRv14BoWTiebnPCd43EKENw0ljED06rEIsKYBeonQzhAAAACcgf9ys2c+fF7wMpcJH2wmQAAAAEyqDxCdFUGrjEK05XVJGG6tRjipkGhBrT5KlNEIrZK6xc6OyvBWuls3Q8Q9gwUyrioBHhG2N2t1CZUI1X10uoI=</ProtectedPassword>
    </Credential>
  </ExaminationsCredentials>
</Settings>